@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

.sr-only {
  display: none;
}

/* button style */
button {
  padding: 21px 49px;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  color: #662d91;
  font-size: 24px;
  font-family: "GmarketSansBold";
}

body {
  background-color: #662d91;
  font-family: "GmarketSansMedium";
}

main {
  text-align: center;
}

/* 상단 로고 */
.tit-timelaw {
  position: relative;
  margin: 194px auto 125px auto;
  text-align: center;
}

.tit-logo {
  width: 564px;
}

.tit-clock {
  position: absolute;
  margin-bottom: 46px;
  width: 265px;
  height: 265px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 노란 명언 */
.img-txt {
  display: block;
  margin-bottom: 78px;
  margin: 0 auto;
  text-align: center;
}

/* 1만시간 정의 */
.quote-wrapper {
  position: relative;
  margin: 78px auto 105px;
}

/* 1만시간 정의-쌍따옴표 */
.img-quotes {
  position: absolute;
  /* 위치 잡는거 모르겠음 */
  transform: translate(-50%, 80%);
  width: 493px;
}

/* 1만시간 정의-정의 텍스트 */
.txt-desc {
  font-size: 18px;
  font-weight: 400;
}

/* 1만시간 정의-정의 안에 강조 텍스트 */
.tit-desc {
  font-size: 24px;
  font-weight: 700;
}

.txt-desc,
.tit-desc {
  color: #ffffff;
  line-height: 1.7;
}

/* input-분야 */

.txt-wannabe {
  display: inline-block;
  margin-bottom: 24px;
}

.txt-wannabe,
.txt-time {
  font-size: 24px;
  color: #ffffff;
}

input[type="text"],
input[type="number"] {
  /* input 커서 시작점 */
  text-align: center;
  margin: 0px 17px;
  padding: 16px 20px;
  width: 228px;
  height: 57px;
  border: none;
  border-radius: 7px;
  font-size: 24px;
}

/* input-placeholder */
input::placeholder {
  text-align: center;
  color: #babcbe;
  font-size: 24px;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

/* 얼마나 걸릴까 버튼 */
.btn-exc {
  position: relative;
  margin-top: 115px;
  background-color: #fcee21;
}
.cont-inp {
  margin-bottom: 150px;
}
/* 손꾸락 아이콘 기준- cont-inp*/
.point_img {
  position: absolute;
  right: -71px;
}

/* 결과 첫줄 */
.txt-wannabe-result-wrapper {
  margin-bottom: 17px;
}

/* 결과 bold */
.wannabe-result {
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
  font-size: 72px;
  font-weight: 700;
}

.btn-result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 127px;
}

.btn-go {
  margin-right: 18px;
  background-color: #fcee21;
}

.cont-footer {
  margin-bottom: 70px;
  text-align: center;
  font-family: "Noto Sans KR";
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

.txt-footer {
  color: #ffffff;
  font-size: 12px;
  font-family: 400;
  line-height: 17.38px;
}

/* modal */
.cont-modal {
  width: 800px;
  height: 800px;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 68px;
  background-color: #fff;
  border-radius: 30px;

  /* 모달 위치
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.fighting-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}

.cheer-up-img {
  margin-bottom: 29px;
}

.licat-img {
  width: 433px;
  height: 337px;
  margin-bottom: 74px;
}

.modal-btn-go {
  background-color: #fcee21;
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.time {
  width: 125px;
  height: 125px;
}

.time > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  animation: rotate 1.1s infinite linear;
}

.cont-result {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 147px; */
}
