@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #662d91;
}

main {
  text-align: center;
  margin: auto;
}

.tit-timelaw {
  position: relative;
  text-align: center;
  margin: 120px;
}

.tit-logo {
  width: 564px;
}

.tit-clock {
  width: 265px;
  height: 265px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 46px;
}

.img-txt {
  display: block;
  margin-bottom: 78px;
  text-align: center;
  margin: 0 auto;
}

.quote-wrapper {
  position: relative;
  margin: 78px auto 102px;
}

.img-quotes {
  width: 493px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.txt-desc {
  font-size: 18px;
  font-weight: 400;
}

.tit-desc {
  font-size: 24px;
  font-weight: 700;
}

.txt-desc,
.tit-desc {
  font-family: "GmarketSansMedium";
  line-height: 1.7;
  color: #ffffff;
  letter-spacing: 0.1rem;
}
